* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ETIQUETAS */

html {
   font-size: 10px; 
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(255, 209, 2), white);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

nav, aside, section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOTONES DE CUENTAS */

.show-mali, .show-gera, .show-maui {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: white;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

/* BOTONES PARA CERRAR */

.closeCuenta, .closeMenu, .closeConsult, .closeDeposit, 
.closeWithdraw {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: #333;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 3rem;
}

/* BOTONES PARA REGRESAR */

.menuBackMali, .consultBackMali, .depositBackMali, .withdrawBackMali, 
.menuBackGera, .consultBackGera, .depositBackGera, .withdrawBackGera, 
.menuBackMaui, .consultBackMaui, .depositBackMaui, .withdrawBackMaui {
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    font-size: #333;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 3rem;
}

/* PARA LAS CLASES CON JS */

.hidden {
    display: none;
}

/* CUENTAS */

.cuentaMali, .cuentaGera, .cuentaMaui, .menuMali, .menuGera, .menuMaui, .consultMali, 
.consultGera, .consultMaui, .depositMali, .depositGera, .depositMaui, .withdrawMali, 
.withdrawGera, .withdrawMaui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 20;
    font-size: 1.6rem;
}

/* TEXTO DE CONSULTA DE SALDO */

.balanceMali, .balanceGera, .balanceMaui {
    border: none;
    background-color: white;
    font-size: 3rem;
    width: 50px;
    margin-left: 5px;
}

/* LABELS */

.labelPass {
    font-size: 20px;
}

.labelDepWith {
    font-size: 20px;
}

.labelConsult {
    font-size: 3rem;
}

/* BOTONES DE MENÚ */

.btn-consultMali, .btn-depositMali, .btn-withdrawMali, .btn-consultGera, .btn-depositGera, 
.btn-withdrawGera, .btn-consultMaui, .btn-depositMaui, .btn-withdrawMaui {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: rgb(255, 238, 0);
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

/* CONTRASEÑA */

.password {
    font-style: italic;
    width: 230px;
    margin: 15px 0px;
    border-color: #333;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

/* BOTONES PARA LOGIN, DEPOSITAR Y RETIRAR */

.loginMali, .loginGera, .loginMaui, .buttonDepWith {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: rgb(255, 238, 0);
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

/* CAJAS DE TEXTO */

.inputDepositMali, .inputDepositGera, .inputDepositMaui, .inputWithdrawMali, 
.inputWithdrawGera, .inputWithdrawMaui {
    margin: 0px 10px;
    border-color: #333;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    font-size: 20px;
}

/* OVERLAYS */

.overlayCuentaMali, .overlayCuentaGera, .overlayCuentaMaui, .overlayMenu,
.overlayConsult, .overlayDeposit, .overlayWithdraw {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 10;
}